body { background: #501164; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 33px; display: flex; }
.block-search-0 { color: #34103; font-size: 12px; margin-bottom: 5px; }
.block-logger-1 { color: #b24c38; font-size: 16px; margin-bottom: 5px; }
.block-order-2 { color: #2411f0; font-size: 19px; margin-bottom: 5px; }
.block-logger-3 { color: #649eed; font-size: 19px; margin-bottom: 5px; }
.block-router-4 { color: #5eef44; font-size: 19px; margin-bottom: 5px; }